.git
.gitignore
.gitattributes
README.md
.env
.env.local
scripts
**/__pycache__
**/*.pyc
**/.venv
**/.venv/
**/venv
**/node_modules
frontend/dist
backend/frontend_dist
backend/staticfiles
backend/media
backend/db.sqlite3
backend/*.log